.encabezado{
    height: 90px;
    text-align: left;
    background-color: #CCCCCC;
}

.cuerpo{
    background-color: #666666;
    color: white;
    height: 300px;
}

.pie{
    background-color: #00ccff;
    height: 50px;
}